[Desktop Entry]
Type=Application
Exec=gsettings set org.gnome.desktop.interface icon-theme Colloid-Dark
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Fix Icons
